{% extends 'base.html' %}

{% block title %}{{ board.title }}の詳細{% endblock %}

{% block content %}
<section>
    <h2>{{ board.title }}の詳細</h2>
    <p>{{ board.content }}</p>
    <p>作者名：{{ board.name }}</p>
    <p>登録日時：{{ board.created_at }}</br>
       更新日時：{{ board.updated_at }}
    </p>
    <a href="{% url 'log:edit' pk=board.id %}" class="btn btn-primary">編集</a>
    <form action="{% url 'log:delete' pk=board.id %}" method="post" class="d-inline">
        {% csrf_token %}
        <input type="hidden" name="action" value="delete">
        <button type="submit" class="btn btn-danger">削除</button>
    </form>
</section>
{% endblock %}