.header-container {
    display: flex; /* 横並びにする */
    align-items: center; /* 縦の中央揃え */
    gap: 10px; /* h1 と画像の間隔 */
}

.logo {
    width: 50px;  /* 画像幅 */
    height: auto;  /* 高さ自動調整 */
}


/* index.htmlのformを右側に配置 */
.flex {
    display: flex;
    justify-content: flex-end; /* フォーム全体を右側に寄せる */
    align-items: center; /* 縦方向に中央寄せ */
    position: relative;
    margin-top: -60px;
}

.col, .col2, .col3 {
    margin-right: 10px; /* 各入力項目の間隔を調整 */
}

/* 各入力欄 */
.col input, .col2 select {
    font-size: 16px; /* フォントサイズを大きく */
    padding: 1.5%; /* 内側の余白を大きく */
    height: 30px; /* 高さを調整 */
    border: 1.5px solid #999;
}

.col2 select {
    font-size: 16px; /* フォントサイズを大きく */
    padding: 8px; /* 内側の余白を調整 */
    height: 38px; /* 高さを調整 */
}

/* ボタン */
.col3 button {
    font-size: 16px; /* フォントサイズを大きく */
    padding: 5px 20px; /* ボタンの内側余白を大きく */
    height: 38px; /* 高さを調整 */
    border: 2px solid #999;
}

.col3 button:before {
    content: "\f201";
    position: relative;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 8px;
    color: #999;
}
.col3 button:hover {
    background: #313131;
    color: #FFF;
}

/* 各項目の間隔を調整 */
.col, .col2, .col3 {
    margin-right: 10px; /* 各入力項目の間隔 */
}




/* 共通のボタンスタイル */
.btn2 {
    background: #eee;
    border-radius: 3px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 160px;
    padding: 10px 25px;
    font-family: "Noto Sans Japanese";
    line-height: 1.8;
    text-decoration: none;
    color: #313131;
    transition: 0.3s ease-in-out;
    font-weight: 500;
}
.btn2:before {
    content: "\f879";
    position: relative;
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    margin-right: 12px;
    color: #333;
    transition: 0.3s ease-in-out;
}
.btn2:hover:before {
    color: #fff;
}

/* ボタンにホバー効果 */
.btn2:hover {
    background: #313131;
    color: #FFF;
}



.btn-up {
    position: relative;
    margin-top: 50px; /* 上に10pxずらす */
}

td {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}









.table {
    border-collapse: collapse;
    width: 90%;
    margin: 40px auto;
    table-layout: fixed; /* 列幅を固定 */
}

.table tr {
    display: table-row; /* flex の影響を防ぐ */
}

.table td, .table th {
    display: table-cell; /* flex の影響を防ぐ */
    border: 1px solid lightblue;
    padding: 12px;
    text-align: center;
    min-width: 100px; /* 列の最小幅を確保 */
}

/* ボタンのスタイル */
.button-container {
    text-align: center;
    margin-bottom: 20px;
}
