{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}読書ログ{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static 'log/css/style2.css' %}">
</head>
<body>
    {% include 'base.html' %}
    <header class="bg-white">
        <div class="container">
            <div class="header-container">
                <img src="{% static 'log/images/logo.png' %}" alt="ロゴ画像" class="logo">
                <h1>読書ログ</h1>
            </div>
        </div>
    </header>
    <main>
        <div class="container">
            <div class="mb">
                {% block content %}{% endblock %}
            </div>
        </div>
    </main>
    <script src="{% static 'log/js/favorite.js' %}"></script>
</body>
</html>