{% extends 'base2.html' %}

{% block title %}{% endblock %}

{% block content %}
    <section class="index-page">
        <form method="gGET" action="{% url 'log:search' %}" class="flex">
            <div class="col">
                <input type="text" name="query" id="id_query" class="form-control" placeholder="検索">
            </div>
            <div class="col2">
                <select name="search_type" class="form-select">
                    <option value="partial">部分一致</option>
                    <option value="prefix">前方一致</option>
                    <option value="suffix">後方一致</option>
                </select>
            </div>
            <div class="col3">
                <button type="submit" class="btn">検索</button>
            </div>
        </form>
        <div class="btn-container">
        <td>
            <a href="{% url 'log:new' %}" class="btn2 btn-up">読んだ本を記録する</a>
            <a href="{% url 'log:read' %}" class="btn2 btn-up">本を読む</a>
            <a href="{% url 'log:home' %}" class="btn2 btn-up">マイページ</a>
        </td>
        </div>
    
        
        <table class="table">
            <colgroup>
                <col style="width: 10%;">
                <col style="width: 40%;">
                <col style="width: 10%;">
                <col style="width: 20%;">
                <col style="width: 20%;">
            </colgroup>
            <thead>
                <tr>
                    <th scope="col">ID</th>
                    <th scope="col">作品名</th>
                    <th scope="col">お気に入り</th>
                    <th scope="col">登録日時</th>
                    <th scope="col">更新日時</th>
                </tr>
            </thead>
            <tbody>
                {% for board in boards %}
                <tr>
                    <td scope="col">{{ board.id }}</td>
                    <td scope="col"><a href="{% url 'log:show' pk=board.id %}">{{ board.title }}</a></td>
                    <td>
                        <button class="star-btn" data-board-id="{{ board.id }}"></button>
                    </td>
                    
                    
                    
                    
                    <td scope="col">{{ board.created_at|date:"Y/m/d H:i" }}</td>
                    <td scope="col">{{ board.updated_at|date:"Y/m/d H:i" }}</td>

                </tr>
                {% endfor %}
            </tbody> 
        </table>
    </section>
{% endblock %}